h1 {
  text-align: center; }

html {
  background: url(https://img.clipartfest.com/2619ebfbbe9aa7b9c2d2b0d705f9fa67_constructionzonejpg-construction-zone-clipart_1800-1103.jpeg) no-repeat center center fixed;
  background-size: cover;
  background-size: 100%;
}

#app {
  position: relative;
  width: 500px;
  height: 800px;
  left: 10px; 
  bottom: -300px;
 }

.footer {
  position: absolute;
  bottom: 0; }
