h1 {
  text-align: center; }

html {
  background: url(http://worldartsme.com/images/safety-check-clipart-1.jpg) no-repeat center center fixed;
  background-size: cover;
  background-size: 100%; 
}

#app {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto;
  margin: auto;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 10px;
}

img {
  height: auto;
  width: 500px;
}
